<nz-layout>
  <nz-header>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      PHONEBOOK TEST
    </ul>
  </nz-header>
  <nz-content>
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <div nz-row>
        <div nz-col nzSpan="5">
          <input type="text" nz-input placeholder="Ingrese nombre y/o apellido a buscar"
            (keyup)="onKeyPersona($event.target.value)" (keydown)="$event.stopPropagation()" [ngModel]="valueSearch" />
          <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
          </ng-template>
        </div>
        <div nz-col nzSpan="5">

          <nz-select nzPlaceHolder="Seleccione región" nzShowSearch nzAllowClear style="width:100%;"
            [ngModel]="selectRegion" (ngModelChange)="filterRegion($event)">
            <ng-container *ngFor="let region of regiones">
              <nz-option [nzLabel]="region.nombre" [nzValue]="region.id"></nz-option>
            </ng-container>


          </nz-select>
        </div>
        <div nz-col nzSpan="5" *ngIf="comunas.length>0">

          <nz-select nzPlaceHolder="Seleccione comuna" nzShowSearch nzAllowClear style="width:100%;"
            [ngModel]="selectComuna" (ngModelChange)="filterComuna($event)">
            <ng-container *ngFor="let comuna of comunas">
              <nz-option [nzLabel]="comuna.nombre" [nzValue]="comuna.id"></nz-option>
            </ng-container>


          </nz-select>
        </div>

        <!-- <input type="text" nz-input [ngModel]="'Xihu District, Hangzhou'" style="width:50%;" /> -->



      </div>
    </nz-input-group>

    <div class="inner-content">
      <nz-table #basicTable [nzData]="selectPersona">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of selectPersona">
            <tr *ngIf="data.activo===1">

              <td>{{data.nombre}}</td>
              <td>{{data.apellido}}</td>
              <td>
                <!--   <nz-divider nzType="vertical"></nz-divider> -->
                <a (click)="showModalMiddle(data)">Detalle</a>
              

              </td>


            </tr>
          </ng-container>

        </tbody>
      </nz-table>
    </div>
  </nz-content>

</nz-layout>
<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisibleMiddle&&detallePersona"
nzTitle="{{detallePersona.nombre}} {{detallePersona.apellido}}" (nzOnCancel)="handleCancelMiddle()" (nzOnOk)="handleOkMiddle()">
<p>{{detallePersona.rut}}</p>
<p>{{detallePersona.telefono}}</p>

<nz-alert *ngIf="!rutValido" nzType="error" nzMessage="Rut invalido"></nz-alert>
</nz-modal>

