nz-content {
    padding: 20px 20px;
  }
.inner-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }

::ng-deep .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }

::ng-deep .vertical-center-modal .ant-modal {
    top: 0;
  }